# Hidden files created by the Mac OS X Finder
.DS_STORE
.DS_Store
._*

# Backup files left behind by the Emacs editor
*~

# Lock files used by Emacs
.\#*

# Temporary files used by vi/vim
.*.swp

# Eclipse
target
\.classpath
\.project
\.settings
